body {
  font-family: "Open Sans Condensed", sans-serif;
}

h1,
h2 {
  color: #455a64;
}
h1 {
  font-weight: 900;
}

ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: 12px;
  position: relative;
  bottom: 60px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #455a64;
  border-radius: 10px;
}

.city-search {
  margin-top: 5px;
  margin-bottom: 5px;
}

.city-temp {
  font-size: 32px;
}

.current-humidity,
.windspeed {
  float: right;
}

.units {
  font-size: 14px;
  position: relative;
  top: -16px;
}

.github-link {
  display: block;
  margin-left: 0;
}

.units .active {
  color: #455a64;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}
